[submodule "Echo/vendor/spdlog"]
	path = Echo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Echo/vendor/GLFW"]
	path = Echo/vendor/GLFW
	url = https://github.com/Jerryym/glfw
[submodule "Echo/vendor/imgui"]
	path = Echo/vendor/imgui
	url = https://github.com/Jerryym/imgui.git
